@import '../../scss-variables';

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 75px;
}

.menu-page {
  background-color: $screen-background-color; /* Brown color */
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-top: 100px;
  padding-left: 20px;
}

.menu-content {
  display:flex;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
}
.item-container {
  display: flex;
  flex-direction: column; // Stack child elements vertically
  padding: 20px;
  width: 150px;
  height: 200px;
  background-color: rgb(236, 236, 227);
  border-radius: 5%;
  gap: 5px; // Add spacing between items
}

.item-image {
  width: 50%;
  height: auto;
  border: none; // Remove any borders
  outline: none;
}

.add-to-cart {
  background-color: $button-background-color;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: $button-border-radius;
}

.add-to-cart:hover {
  background-color: $button-hover-color;
}

.item-image {
  width: 100%;
  height: auto;
}
