<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
</div>
<div class="menu-page">

    <div class="menu-content">
      <div *ngFor="let item of menuData" class="item-container">
        <img [src]="'data:image/jpeg;base64,' + item.item_image" alt="Base64 Image" class="item-image" />
         <!-- <img src="assets/image.png" alt="No"> -->
        <div class="item-name">{{ item.item_name }}</div>
        <div class="item-description">{{ item.item_description }}</div>
        <div class="item-price">{{ item.item_price }}</div>
        <button class="add-to-cart">Add to cart</button>
      </div>
    </div>

</div>


